<h2> Fiches List</h2>
 
<button (click)="Ajouter()" class="btn btn-primary"> Ajouter Fiches</button>
 
<table class = "table table-striped">
    <thead>
        <tr>
            <th> libelle</th>
            <th> date_buttoir </th>
            <th> lieu</th>
            <th> temps </th>
            <th> Notes </th>
            <th> utilisateur </th>
            <th> tableau </th>
            <th> section </th>
            
             
            <th> action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let fiche of fiches  | paginate: { itemsPerPage: 2, currentPage: p } " >
            <td> {{ fiche.libelle}} </td>
            <td> {{ fiche.date_buttoir}} </td>
            <td> {{fiche.lieu}} </td>
            <td> {{fiche.temps}} </td>
            <td >  {{fiche.note}}</td>
            <td >  {{fiche.utilisateur.nom}}</td>
            
            <td >  {{fiche.tableau.id_Kanban}}</td>
            <td >  {{fiche.section.libelle_section}}</td>
            
             
            <td>
                <button (click)="updateFiche(fiche.id_fiche) " class = "btn btn-info"> Update</button>
                <button (click)="DeleteFiche(fiche.id_fiche)"  class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click)="detailsFiches(fiche.id_fiche)" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    view
                  </button>    
            </td>
        </tr>
    </tbody>
    
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

 
  

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Fiche</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <table class = "table table-striped">
            <thead>
                <tr>
                    <th> libelle</th>
                    <th> date_buttoir </th>
                    <th> lieu</th>
                    <th> temps </th>
                     
                    <th> Notes </th> 
                    
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ fichesById.libelle}} </td>
                    <td> {{ fichesById.date_buttoir}} </td>
                    <td> {{fichesById.lieu}} </td>
                    <td> {{fichesById.temps}} </td>
                    <td> {{fichesById.note}} </td>
                     
                              
                </tr>
                   
               
        </table>
            </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  
   