<h2> Sections List</h2>
<button (click)="AjouterSection()" class="btn btn-primary"> Ajouter Section</button>

  
<table class = "table table-striped">
    <thead>
        <tr>
            <th> libelle</th>
             
             
            <th> action </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let section of sections| paginate: { itemsPerPage: 2, currentPage: p}" >
            <td> {{ section.libelle_section}} </td>
             
             
            <td>
                <button  (click)="updateSection(section.id_section)" class = "btn btn-info"> Update</button>
                <button  (click)="DeleteSection(section.id_section)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                 
            </td>
        </tr>
    </tbody>
</table>
 
  <pagination-controls (pageChange)="p = $event"></pagination-controls>

