<h2> Tableau List</h2>
 
<button (click)="AjouterTableau()" class="btn btn-primary"> Ajouter Tableau</button>
 
<table class = "table table-striped">
    <thead>
        <tr>
            <th> numero des tableau</th>
             
             
            <th> actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let table of tableau| paginate: { itemsPerPage: 5, currentPage: p }  " >
            <td> {{table.libelle_tableau}} </td>
             
              <td>
                <button   class = "btn btn-info"> Update</button>
                <button (click)="DeleteTableau(table.id_Kanban)"  class = "btn btn-danger" style="margin-left: 10px"> Delete</button>      
             </td>
        </tr>
    </tbody>
</table>
<pagination-controls (pageChange)="p = $event"></pagination-controls>
   